.category {
  width: 100%;
  height: 152px;
  
  display: flex;
  justify-content: center;

  .category-center {
    width: var(--width-center);
    height: inherit;
    
    column-gap: 1px;
    display: flex;
    justify-content: space-between;
    .category-item {
      width: 10%;
      height: inherit;
      .category-item-link{
        width: 100%;
        height: inherit;
        text-decoration: none;
        .category-item-img {
            width: 52px;
            height: 52px;
            display: block;
            margin:0px auto;
            margin-top: 25px;
          }
          .category-item-text {
            font-family: var(--font-family);
            width: 50%;
            font-size: 12px;
            line-height: 20px;
        
            color: #2b2b2b;
            margin: 10px auto;
            text-align: center;
            font-weight: normal;
            
          }
          .category-item-more{
            width: 52px;
            height: 52px;
            border-radius: 50%;
            background-color: lightgrey;
            margin: 0 auto;
            margin-top: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 2px;
            .category-item-more-in{
                width: 5px;
                height: 5px;
                background-color: gray;
                border-radius: 50%;
    
            }
          }

      }
      
     
    }
  }
}
