.story {
  width: 100%;
  height: 170px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 2px;

  .story-center {
    width: var(--width-center);
    height: 170px;

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      .swiper-slide-item {
        width: inherit;
        height: inherit;
        padding-top: 13px;
        .swiper-slide-item-img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          outline: 1px solid purple;
          outline-offset: 2px;
          display: block;
          margin: 15px auto;
        }
        .swiper-slide-item-p {
          font-family: var(--font-family) !important;
          font-size: 9px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          line-height: 20px;

          color: rgb(85, 83, 83);
        }
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
